@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
:root {
  --title-color: #2e266f;
  --main-theme: #fe043c;
  --bg-main: #fff5ec;
  --bg-main2: #ffedde;
  --white: #ffffff;
  --gray: #707070;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-main);
}

/* --------Header-------- */
#header {
  position: relative;
  display: flex;
  background-color: var(--bg-main);
}
#header .mainHeader {
  width: 75%;
  margin-left: 130px;
  height: 1210px;
  position: relative;
}
.location-tag {
  background-color: var(--main-theme);
  width: 280px;
  padding: 20px 50px;
  color: var(--white);
  border-radius: 0px 100px 100px 0px;
  font-size: 30px;
  position: absolute;
  bottom: 285px;
  left: 0px;
}
#logo {
  width: 254px;
  margin: 0;
  display: inline-block;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 72px;
  line-height: 108px;
  text-align: center;
  color: var(--main-theme);
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
  margin-top: 20px;
}
.nav-list {
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.nav-list .nav-item {
  margin-right: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: var(--title-color);
  text-transform: capitalize;
}
.main-section {
  display: flex;
}
.title--big {
  width: 506px;
  font-weight: 900;
  font-size: 200px;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  line-height: 0.6;
  color: var(--title-color);
  opacity: 0.05;
}
.title--big + p {
  width: 757px;
  font-weight: 700;
  font-size: 72px;
  margin: 0 0 40px 0;
  color: var(--title-color);
}
.input-box {
  position: relative;
  width: 670px;
}
.input-box input {
  font-size: 18px;
  padding: 36px 50px;
  width: 100%;
  background-color: var(--white);
  border: none;
  text-transform: capitalize;
  opacity: 0.6;
}
#go-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 9px;
  background-color: var(--main-theme);
  color: var(--white);
  width: 200px;
  height: 72px;
  padding: 20px;
  border-radius: 60px 0px 0px 0px;
  font-size: 30px;
  text-align: center;
}

#header .sideHeader {
  position: relative;
  width: 25%;
  height: 1210px;
  background-color: var(--main-theme);
}
.box-img {
  position: relative;
  transform: translateX(-100%);
  overflow: visible;
}
img#dish {
  width: 45vw;
  position: absolute;
  top: 176px;
  z-index: 2;
  left: -30px;
}
img#vegestable {
  position: absolute;
  width: 33vw;
  top: -25px;
  left: 150px;
  z-index: 1;
}
img.dotbg {
  width: 20vw;
  margin: 200px 0px 30px 10px;
}
img.dotbg:last-child {
  margin-top: -12px;
}
.location {
  padding-right: 20px;
}
.user-box {
  position: absolute;
  top: 53px;
  right: 135px;
  color: var(--white);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-box .logo-user {
  width: 52px;
  height: 52px;
  margin-right: 10px;
}
.user-box nav {
  width: 50px;
  font-size: 16px;
}
.arrow-box {
  display: flex;
  position: absolute;
  bottom: 195px;
  left: 200px;
}
.arrow-box img {
  width: 3vw;
  margin-right: 40px;
  cursor: pointer;
}
#top-res {
  background-color: var(--bg-main);
  padding-bottom: 200px;
  position: relative;
}
#top-res .seemore-btn {
  position: absolute;
  right: 20%;
  bottom: 26%;
  background-color: var(--bg-main);
  border: none;
  cursor: pointer;
}
.section-title {
  display: inline-block;
  margin: 30px 150px 140px 135px;
  font-size: 48px;
  font-weight: 500;
  padding-left: 30px;
  text-transform: capitalize;
  border-left: 25px solid var(--main-theme);
  color: var(--title-color);
}
.section-title + p {
  display: inline-block;
  width: 609px;
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
}
.card-food {
  width: 639px;
  height: 636px;
  margin-right: 40px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
}
.card-food .dot1 {
  position: absolute;
  left: 0px;
  top: -65px;
}
.card-food img:first-child {
  width: 100%;
  position: relative;
  z-index: 2;
}
.card-food .dot2 {
  position: absolute;
  bottom: -30px;
  right: -30px;
}
.card-food .card-content {
  position: absolute;
  padding: 40px 192px 80px 60px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  color: var(--white);
  border-radius: 0px 0px 20px 20px;
  z-index: 2;
}
.card-content h3 {
  margin: 0px 0px 20px 0px;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  z-index: 2;
}
.card-content p {
  font-weight: 400;
  font-size: 14px;
  margin: 0px 0px 20px 0px;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}
.location-box {
  display: flex;
  align-items: center;
}
.card-food .location-box .icon {
  width: 20px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.location-box .icon + p {
  text-align: center;
  padding-top: 5px;
  font-size: 14px;
  margin: 0;
}
.card-content .card-overlay {
  background: var(--main-theme);
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 20px 20px;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.7;
  z-index: 1;
}
.card-content .booknow-btn {
  position: absolute;
  width: 208px;
  height: 58px;
  right: 0;
  bottom: 40px;
  background: var(--white);
  color: var(--main-theme);
  border-radius: 100px 0px 0px 100px;
  border: none;
  font-size: 16px;
  z-index: 2;
  cursor: pointer;
}

/* Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements). */

#advance-book {
  position: relative;
  height: 1090px;
  background-color: var(--bg-main2);
}
.booking-container {
  position: absolute;
  top: 50%;
  left: 14%;
  transform: translateY(-50%);
  width: 65%;
  padding: 100px 0px 120px 0px;
  background-color: var(--bg-main);
  color: var(--title-color);
}
.booking-container h3 {
  font-size: 36px;
  text-align: center;
}
.booking-container .dot-deco-ad-book1 {
  position: absolute;
  top: 0;
  right: -75px;
}
.booking-container .dot-deco-ad-book2 {
  position: absolute;
  top: -75px;
  right: -75px;
}

.salad-deco1 {
  position: absolute;
  display: block;
  right: 66%;
  top: -26%;
  z-index: 2;
}
.salad-deco2 {
  position: absolute;
  width: 32%;
  left: 81%;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
}
.booking-form {
  position: relative;
  margin-left: 34%;
  display: flex;
  width: 544px;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
}
.booking-search {
  position: relative;
  width: 544px;
  z-index: 3;
}
.booking-search input {
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 38px 40px;
  opacity: 0.6;
}
.booking-search .go {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px 39px;
  margin-right: 14px;
  background-color: var(--main-theme);
  color: var(--white);
  border: none;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.booking-date-row {
  display: flex;
  margin-top: 60px;
  justify-content: space-evenly;
}
.booking-date-row label {
  cursor: pointer;
}
.booking-date-row .date-item {
  margin-right: 70px;
  font-size: 16px;
}
.date-item .input-container {
  position: relative;
}
.date-item .arrow {
  position: relative;
  width: 10px;
  top: 4px;
}
.date-item input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  z-index: 2;
}
.date-item .custom-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 27px;
  font-size: 16px;
  background-color: var(--bg-main);
  opacity: 0.6;
  z-index: 3;
  cursor: pointer;
  line-height: 30px;
}
